<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tn.bankYam.mapper.AccountManageMapper">

    <resultMap type="membery" id="memberyMap">
        <id property="mb_seq" column="mb_seq" />
        <result property="mb_email" column="mb_email" />
        <result property="mb_pwd" column="mb_pwd" />
        <result property="mb_name" column="mb_name" />
        <result property="mb_addr" column="mb_addr" />
        <result property="mb_phone" column="mb_phone" />
        <result property="mb_job" column="mb_job" />
        <result property="mb_salary" column="mb_salary" />
        <result property="mb_credit" column="mb_credit" />
        <result property="mb_imagepath" column="mb_imagepath" />
        <result property="mb_rdate" column="mb_rdate" />
        <result property="mb_wdate" column="mb_wdate" />
    </resultMap>

    <resultMap type="product" id="productMap" >
        <id property="pd_seq" column="pd_seq"/>
        <id property="pd_type" column="pd_type"/>
        <id property="pd_name" column="pd_name"/>
        <id property="pd_rate" column="pd_rate"/>
        <id property="pd_addrate" column="pd_addrate"/>
        <id property="pd_info" column="pd_info"/>
        <id property="pd_del" column="pd_del"/>
        <id property="pd_rdate" column="pd_rdate"/>
        <id property="pd_xdate" column="pd_xdate"/>
    </resultMap>

    <resultMap type="accounty" id="accountyMap">
        <id property="ac_seq" column="ac_seq" />
        <result property="ac_pwd" column="ac_pwd" />
        <result property="ac_mb_seq" column="ac_mb_seq" />
        <result property="ac_balance" column="ac_balance" />
        <result property="ac_name" column="ac_name" />
        <result property="ac_main" column="ac_main" />
        <result property="ac_status" column="ac_status" />
        <result property="ac_pd_seq" column="ac_pd_seq" />
        <result property="ac_pwd_check" column="ac_pwd_check" />
        <result property="ac_purpose" column="ac_purpose" />
        <result property="ac_rdate" column="ac_rdate" />
        <result property="ac_udate" column="ac_udate" />
        <result property="ac_xdate" column="ac_xdate" />
        <association property="membery" column="mb_seq" resultMap="memberyMap" />
        <association property="product" column="pd_seq" resultMap="productMap" />
    </resultMap>

    <select id="selectAcList" resultType="list" resultMap="accountyMap" parameterType="Membery">
        SELECT
            *
        FROM
            membery m
        JOIN
            accounty a
        ON
            m.mb_seq = a.ac_mb_seq
        JOIN
            product p
        ON
            a.ac_pd_seq = p.pd_seq
        WHERE
            m.mb_seq = #{mb_seq}
        AND
            a.ac_status != '해지'
        AND
            a.ac_status != '복구중'
        ORDER BY
            a.ac_status
        ,
            a.ac_rdate

    </select>

    <select id="selectAcXList" resultType="list" resultMap="accountyMap" parameterType="Membery">
        SELECT
            *
        FROM
            membery m
        JOIN
            accounty a
        ON
            m.mb_seq = a.ac_mb_seq
        WHERE
            m.mb_seq = #{mb_seq}
        AND
        (
            a.ac_status = '해지'
        OR
            a.ac_status = '복구중'
        )
        ORDER BY
            a.ac_rdate
        ,
            a.ac_status
    </select>

    <select id="checkAcBeforeMain" resultType="Accounty" resultMap="accountyMap" parameterType="long">
        SELECT
            *
        FROM
            membery m
        JOIN
            accounty a
        ON
            m.mb_seq = a.ac_mb_seq
        WHERE
            m.mb_seq = #{mb_seq}
        AND
            a.ac_main = '주'
    </select>

    <select id="checkAc" resultType="Accounty" resultMap="accountyMap" parameterType="Hashmap">
        SELECT
            *
        FROM
            membery m
        JOIN
            accounty a
        ON
            m.mb_seq = a.ac_mb_seq
        WHERE
            m.mb_seq = #{mb_seq}
        AND
            a.ac_seq = #{ac_seq}
    </select>

    <update id="updateAcNewMain" parameterType="Accounty">
        update Accounty set AC_MAIN='주' WHERE AC_SEQ=#{ac_seq}
    </update>

    <update id="updateAcBeforeMain" parameterType="Accounty">
        update Accounty set AC_MAIN='부' WHERE AC_SEQ=#{ac_seq}
    </update>

    <update id="updateAcName" parameterType="Accounty">
        update Accounty set AC_NAME=#{ac_name} WHERE AC_SEQ=#{ac_seq}
    </update>


    <select id="checkAcOnly" resultType="Accounty" resultMap="accountyMap" parameterType="long">
        SELECT
            *
        FROM
            membery m
        JOIN
            accounty a
        ON
            m.mb_seq = a.ac_mb_seq
        JOIN
            product p
        ON
            a.ac_pd_seq = p.pd_seq
        WHERE
            a.ac_seq = #{ac_seq}
    </select>

    <update id="updateAcStatus" parameterType="Accounty">
        update Accounty set
        <if test="cat == '복구신청'">
            AC_STATUS = '복구중'
        </if>
        <if test="cat == '복구취소'">
            AC_STATUS = '해지'
        </if>
        <if test="cat == '휴면신청'">
            AC_STATUS = '휴면'
        </if>
        <if test="cat == '휴면취소'">
            AC_STATUS = '사용중'
        </if>
        <if test="cat == '해지신청'">
            AC_STATUS = '해지',
            AC_XDATE = SYSDATE
        </if>
        WHERE
            AC_SEQ = #{ac_seq}
    </update>

    <update id="updateAcPwdCheck" parameterType="long">
        update Accounty set AC_PWD_CHECK=0 WHERE AC_SEQ=#{ac_seq}
    </update>

    <update id="updateAcPwdWrong" parameterType="long">
        update Accounty set AC_PWD_CHECK=AC_PWD_CHECK+1 WHERE AC_SEQ=#{ac_seq}
    </update>

    <update id="updateAcPs" parameterType="Accounty">
        update Accounty set AC_PWD=#{ac_pwd} WHERE AC_SEQ=#{ac_seq}
    </update>

    <select id="myAllAcBySeq" resultType="list" resultMap="accountyMap" parameterType="long">
    SELECT
        *
    FROM
        accounty a
    JOIN
        membery m
    ON
        a.ac_mb_seq = m.mb_seq
    WHERE
        m.mb_seq = #{mb_seq}
    </select>

    <insert id="insertAc" parameterType="Accounty">
        <selectKey keyProperty="ac_seq" order="BEFORE" resultType="long">
            select ACCOUNTY_SEQ.nextval from dual
        </selectKey>
        insert into ACCOUNTY values(#{ac_seq}, #{ac_pwd}, #{ac_mb_seq}, 0, #{ac_name}, '부', '사용중', #{ac_pd_seq}, 0, #{ac_purpose}, SYSDATE, #{ac_udate}, null)
    </insert>

    <update id="updateAcBalance" parameterType="Accounty">
        update Accounty set AC_BALANCE=AC_BALANCE+${amount} WHERE AC_SEQ=#{ac_seq}
    </update>

    <delete id="deleteAc" parameterType="long">
        delete from ACCOUNTY where AC_SEQ=#{ac_seq}
    </delete>
</mapper>