<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tn.bankYam.mapper.AccountyMapper">
    <resultMap id="membery" type="Membery">
        <id property="mb_seq" column="mb_seq"/>
        <result property="mb_email" column="mb_email"/>
        <result property="mb_pwd" column="mb_pwd"/>
        <result property="mb_name" column="mb_name"/>
        <result property="mb_addr" column="mb_addr"/>
        <result property="mb_daddr" column="mb_daddr"/>
        <result property="mb_phone" column="mb_phone"/>
        <result property="mb_job" column="mb_job"/>
        <result property="mb_salary" column="mb_salary"/>
        <result property="mb_credit" column="mb_credit"/>
        <result property="mb_imagepath" column="mb_imagepath"/>
        <result property="mb_rdate" column="mb_rdate"/>
        <result property="mb_wdate" column="mb_wdate"/>
    </resultMap>

    <resultMap id="product" type="Product">
        <id property="pd_seq" column="pd_seq"/>
        <id property="pd_type" column="pd_type"/>
        <id property="pd_name" column="pd_name"/>
        <id property="pd_rate" column="pd_rate"/>
        <id property="pd_rdate" column="pd_rdate"/>
        <id property="pd_xdate" column="pd_xdate"/>
    </resultMap>

    <resultMap id="accounty" type="Accounty">
        <id property="ac_seq" column="ac_seq"/>
        <id property="ac_pwd" column="ac_pwd"/>
        <id property="ac_mb_seq" column="ac_mb_seq"/>
        <id property="ac_balance" column="ac_balance"/>
        <id property="ac_name" column="ac_name"/>
        <id property="ac_main" column="ac_main"/>
        <id property="ac_status" column="ac_status"/>
        <id property="ac_pd_seq" column="ac_pd_seq"/>
        <id property="ac_rdate" column="ac_rdate"/>
        <id property="ac_udate" column="ac_udate"/>
        <id property="ac_xdate" column="ac_xdate"/>
        <collection property="membery" resultMap="membery"/>
        <collection property="product" resultMap="product"/>
    </resultMap>

    <select id="selectAccNum" resultType="Accounty" parameterType="long">
        SELECT AC_SEQ,AC_MAIN,AC_BALANCE FROM ACCOUNTY A
        JOIN MEMBERY M
        ON A.AC_MB_SEQ = M.MB_SEQ
        WHERE M.MB_SEQ = #{mb_seq} AND A.AC_STATUS='사용중' AND A.AC_PD_SEQ=1
    </select>

    <select id="selectAccInfo" resultType="Accounty" parameterType="long">
        SELECT * FROM ACCOUNTY A JOIN MEMBERY M ON A.AC_MB_SEQ=M.MB_SEQ
        WHERE A.AC_SEQ=#{ac_seq}
    </select>

    <update id="transfer" parameterType="Accounty">
        UPDATE ACCOUNTY SET AC_BALANCE=AC_BALANCE + #{ac_balance}
        WHERE AC_SEQ=#{ac_seq}
    </update>

    <select id="findAccByMemberId" parameterType="long" resultMap="accounty">
        SELECT * FROM ACCOUNTY A JOIN PRODUCT P
        ON A.AC_PD_SEQ = P.PD_SEQ JOIN MEMBERY M ON A.AC_MB_SEQ = M.MB_SEQ
        WHERE A.AC_MB_SEQ = #{mb_seq} ORDER BY DECODE(AC_MAIN, '주', 1)
    </select>

    <select id="findPdBySeq" parameterType="long" resultMap="product">
        SELECT * FROM PRODUCT WHERE PD_SEQ=#{pd_seq}
    </select>

    <insert id="insertAcc" parameterType="Accounty">
        <selectKey resultType="long" keyProperty="ac_seq" order="BEFORE">
            SELECT ACCOUNTY_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO ACCOUNTY VALUES(#{ac_seq}, #{ac_pwd}, #{ac_mb_seq}, 0, #{ac_name}, '주', '사용중', #{ac_pd_seq}, 0, #{ac_purpose}, SYSDATE, ADD_MONTHS(TO_DATE(CONCAT((SELECT TO_CHAR(SYSDATE, 'YYMM') FROM DUAL),TO_NUMBER(#{ac_udated})),'YYMMDD'),#{addMonths}), NULL)
    </insert>
    <select id="findDepositPd" resultType="String">
        SELECT PD_NAME FROM(SELECT * FROM PRODUCT WHERE PD_TYPE='예금') GROUP BY PD_NAME
    </select>
    <select id="findDepositPdVal" parameterType="String" resultMap="product">
        SELECT * FROM (SELECT * FROM PRODUCT WHERE PD_NAME =#{pd_name} ORDER BY PD_RDATE DESC) WHERE ROWNUM=1
    </select>
    <select id="findAccounty" resultMap="accounty">
        SELECT * FROM ACCOUNTY A JOIN PRODUCT P ON A.AC_PD_SEQ = P.PD_SEQ WHERE A.AC_STATUS='사용중'
    </select>
    <select id="findRecentPd" resultType="Product">
        SELECT * FROM (SELECT * FROM PRODUCT WHERE PD_TYPE='예금' ORDER BY PD_SEQ DESC) WHERE ROWNUM = 1
    </select>

    <update id="interest" parameterType="Accounty">
        UPDATE ACCOUNTY SET AC_BALANCE = #{ac_balance},AC_PD_SEQ= #{ac_pd_seq}, AC_UDATE= ADD_MONTHS(SYSDATE,1) where AC_SEQ= #{ac_seq}
    </update>
    <insert id="insertPd" parameterType="Product">
        <selectKey resultType="long" keyProperty="pd_seq" order="BEFORE">
            SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO PRODUCT VALUES(#{pd_seq}, #{pd_type}, #{pd_name}, #{pd_rate}, SYSDATE, NULL)
    </insert>
    <update id="updatePdXdate" parameterType="Product">
        UPDATE PRODUCT SET PD_XDATE = SYSDATE
        WHERE PD_SEQ=#{pd_seq}
    </update>
</mapper>