<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tn.bankYam.mapper.FriendsMapper">
    <select id="searchFriend" resultType="Membery" parameterType="String">
        SELECT
            *
        FROM
            MEMBERY M
        JOIN
            ACCOUNTY A
        ON
            M.MB_SEQ = A.AC_MB_SEQ
        WHERE
            M.MB_EMAIL = #{searchFrWord}
        OR
            A.AC_SEQ = #{searchFrWord}
    </select>
</mapper>