<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tn.bankYam.mapper.MemberyMapper">
    <select id="findByEmail" resultType="Membery" parameterType="String">
        SELECT * FROM MEMBERY WHERE MB_EMAIL=#{mb_email}
    </select>
    <select id="findBySeq" resultType="Membery" parameterType="Long">
        SELECT * FROM MEMBERY WHERE MB_SEQ=#{mb_seq}
    </select>
    <update id="editProfile" parameterType="Membery">
        UPDATE MEMBERY SET  MB_NAME=#{mb_name},MB_ADDR=#{mb_addr},MB_DADDR=#{mb_daddr},MB_PHONE=#{mb_phone},MB_JOB=#{mb_job},MB_SALARY=#{mb_salary} WHERE MB_SEQ = #{mb_seq}
    </update>
    <insert id="joinMembery" parameterType="Membery">
        <selectKey resultType="long" keyProperty="mb_seq" order="BEFORE">
            SELECT MEMBERY_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO MEMBERY VALUES(#{mb_seq}, #{mb_email}, #{mb_pwd}, #{mb_name}, #{mb_addr}, #{mb_daddr}, #{mb_phone}, #{mb_job}, #{mb_salary}, #{mb_credit}, '/img/character/hi.png', SYSDATE, NULL)
    </insert>
    <update id="updateImagepath" parameterType="Membery">
        UPDATE MEMBERY SET MB_IMAGEPATH=#{mb_imagepath} WHERE MB_SEQ=#{mb_seq}
    </update>
    <select id="findByPhone" resultType="Membery" parameterType="String">
        SELECT * FROM MEMBERY WHERE MB_PHONE=#{mb_phone}
    </select>
    <update id="editPwd" parameterType="hashmap">
        UPDATE MEMBERY SET MB_PWD=#{mb_pwd} WHERE MB_EMAIL=#{mb_email}
    </update>
</mapper>