<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tn.bankYam.mapper.MemberyMapper">
    <select id="findByEmail" resultType="Membery" parameterType="String">
        SELECT * FROM MEMBERY WHERE MB_EMAIL=#{mb_email}
    </select>
    <select id="findBySeq" resultType="Membery" parameterType="Long">
        SELECT * FROM MEMBERY WHERE MB_SEQ=#{mb_seq}
    </select>
    <update id="editProfile" parameterType="Membery">
        UPDATE MEMBERY SET  MB_NAME=#{mb_name},MB_ADDR=#{mb_addr},MB_DADDR=#{mb_daddr},MB_PHONE=#{mb_phone},MB_JOB=#{mb_job},MB_SALARY=#{mb_salary} WHERE MB_SEQ = #{mb_seq}
    </update>
    <update id="updateImagepath" parameterType="Membery">
        UPDATE MEMBERY SET MB_IMAGEPATH=#{mb_imagepath} WHERE MB_SEQ=#{mb_seq}
    </update>
</mapper>