.join-header{
	overflow: hidden;
    padding: 10px 0 6px;
    border-bottom: solid 1px #eee;
	background-color: #f9f9f9;
}
.join-header .inner{
	width: 1170px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.join-header-title{
	color: #666;
    font-size: 22px;
    margin-top: 8px;
	float: left!important;
}
.join_hidden1{
    display: none;
}
#join_terms{
    display: block;
    align-text: center;
    overflow: auto;
    width: 100%;
    height: 30%;
    white-space:none;
}

label{
    display: block;
}
label::before{
    content:"";
    width: 13px;
    height: 13px;
}
input[class=acpwd]:invalid {
    border: 3px solid red;
}

input:checked + label::before{
    content: "";
    width: 13px;
    height: 13px;
    background-color: var(--themecolor);
}
.join{
	padding-top: 40px;
    padding-bottom: 40px;
	width: 100%;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	color: #333;
    font-size: 13px;
    line-height: 1.6;
    display: block;
}
.join .inner{
	margin-right: -15px;
    margin-left: -15px;
	display: block;
}
.join-body{
	margin-left: 20%;

    display: block;
	position: relative;

    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.join-page{
    width: 60%;
    position:relative;
	color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    box-shadow: 0 0 3px #eee;
}
.page-header{
	color: #555;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: solid 1px #eee;
}
.page-header h2{
	font-size: 30px;
    margin-bottom: 15px;
}
.join-placeholderR::-webkit-input-placeholder{
    text-align:right;
}
.page-header p{
	color: #555;
	margin: 0 0 10px;
}
.page-header a{
	color: #0076C0;
	text-decoration: none;
	outline: 0 !important;
}
.join-page .row{
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
	justify-content:space-between;
	align-content:center;
}
.row-in{
	width: 100%;
	float: left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	margin-bottom: 20px;
}
.row-half{
	width: 50%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.row-3quater{
	width: 75%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	align-items:center;
}
.join-wbtn{
    display: flex;
    text-align: center;
    margin-top: 40px;
}
.row-1quater{
	width: 25%;
	float: left;
	display : inline;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.row-1third{
	width: 35%;
	float: left;
	display : inline;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
#mb_salary{
    width:70%;
}

.row-in label, .row-half label, .row-3quater label, .row-1quater label{
	color: #777;
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.join-body hr{
	margin: 30px 0;
	border: 0;
    border-top: 1px solid #eee;
	width: 100%;
}

.join-btn{
	box-shadow: none;
	display: none;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	margin-left:20%;
}
.half-in-btn{
	text-align: center;
    padding-right: 30px;
}
.normal-btn{
    height:35px;
    width:80px;
    font-size: 0.8rem;
    color: var(--vsthemecolor);
    background-color: var(--themecolor);
    margin-top: 0;
    transition: all 0.3s;
}
.edit-btn{
    margin-left:70%;
    height:35px;
    width:80px;
    font-size: 0.8rem;
    color: var(--vsthemecolor);
    background-color: var(--themecolor);
    margin-top: 0;
    transition: all 0.3s;
}
.edit-profile-photo{
    overflow:hidden;
    border: 0.5px solid #5F4934;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}


.normal-btn:hover{
    color: var(--themecolor);
    background-color: var(--vsthemecolor);
    border: 1px solid var(--themecolor);
}

@media screen and (min-width: 500px){
    .join-page{
        width: 90%;
        padding: 5px;
    }
    .join-body{
    	margin-left: 0%;
    }

    .row-in label, .row-half label, .row-3quater label, .row-1quater label{
        color: #777;
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 1.3rem;
    }
    .row-3quater{
        width: 55%;
    }
    .row-1quater{
        width: 45%;
        padding: 0;
    }

}

@media screen and (min-width: 650px){
    .row-3quater{
        width: 65%;
    }
    .row-1quater{
        width: 35%;
        padding: 0;
    }
}

@media screen and (min-width: 750px){
    .join-wbtn{
        margin-left:15%;
        margin-right:5%;
    }
}

@media screen and (min-width: 900px){
    .join-body{
    	margin-left: 5%;
    }
    .join-btn{
        margin-left:30%;
    }
    .join-wbtn{
        margin-left:10%;
        margin-right:5%;
    }
    .row-3quater{
        width: 70%;
    }
    .row-1quater{
        width: 30%;
    }
}

@media screen and (min-width: 1000px){
    .join-page{
        width: 80%;
        padding: 5px;
    }
    .join-body{
    	margin-left: 10%;
    }
    .join-wbtn{
        margin-left:5%;
        margin-right:5%;
        margin-top:40px;
    }

    .row-in label, .row-half label, .row-3quater label, .row-1quater label{
    	color: #777;
    	display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .page-header h2{
    	font-size: 35px;
    }
    .join-btn{
        margin-left:35%;
    }
}

@media screen and (min-width: 1100px){
    .join-page{
        width: 70%;
        padding: 5px;
    }
    .join-body{
    	margin-left: 15%;
    }

}

@media screen and (min-width: 1400px){
    .join-page{
        width: 770px;
        padding: 5px;
        margin-left:10%;
    }
    .row-3quater{
        width: 75%;
    }
    .row-1quater{
        width: 25%;
    }
    .join-wbtn{
        margin-left:3px;
        margin-top:43px;
    }
}

@media screen and (min-width: 1400px){
    .join-page{
        width: 770px;
        padding: 5px;
        margin-left:15%;
    }
}