@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 공통 */
:root {
    --themecolor: #5F4934;
    --vsthemecolor: white;
    --lightyamcolor: #B39273;
    --whiteyamcolor: #F7F3EF;
}
*{
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
}
a:visit{
    text-decoration: none;
}
button{
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
body{
    margin: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.body-main{
    margin: 10rem 0;
}

/* 네비게이션 */
.nav-main{
    position: fixed;
    display: flex;
    width:100%;
    min-height: 120px;
    top: 0;
    left: 0px;
    z-index: 999;
}
.nav-header{
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height:120px;
    background-color: var(--themecolor);
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
    transition: all 0.05s;
}

.nav-image{
    height: 100px;
    width:auto;
    margin-left: 20px;
    margin-right: 20px;
}
.nav-image-hover{
    display: none;
}
.nav-logo{
    font-size: 55px;
    text-decoration: none;
    color:var(--vsthemecolor);
    margin-top: 7px;
}
.nav-menu{
    display: inline-flex;
    width: auto;
    height:50px;
    justify-content: flex-end;
    align-items: end;
    padding: 0px;
}

.nav-menu-item {
    display: inline-block;
    float: left;
    margin-left: 15px;
    font-size: 18px;
    border-bottom: 0px solid transparent;
    transition: all 0.2s;
    width:130px;
}

.nav-menu-item a {
    display: block;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--vsthemecolor);
    transition: all 0.5s;
}
.hidden-a{
    height:100%;
    line-height: 70px;
}

.nav-menu-item form {
    margin:0;
}
.nav-sign{
    display: inline-block;
    min-width: 325px;
    padding: 0;
    float: right;
    text-align: right;
}
.nav-sign-list{
    width:auto;
    margin: auto;
    vertical-align: middle;
}

.nav-menu button{
    height:45px;
    width:120px;
    margin-right: 20px;
    font-size: 1rem;
    color: var(--themecolor);
    background-color: var(--vsthemecolor);
    margin-top: 0;
    transition: all 0.3s;
}
.nav-post-box{
    display: none;
    margin-right:3rem;
}
.nav-post{
    color: var(--themecolor);
}
.nav-header-1{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.login-button{
    margin-left: 5px;
}
.nav-canvas{
    width:100%;
    height:100%;
    background-color: var(--themecolor);
}
.canvas-items1{
    position:absolute;
    font-size:30px;
    font-weight:bolder;
    top:35%;
    left:12%;
    color:white;
    line-height:80px;
    list-style:none;
    width:300px;
    display:none;
    z-index:999;
}
.canvas-items2{
    position:absolute;
    font-size:30px;
    font-weight:bolder;
    top:30%;
    left:12%;
    color:white;
    line-height:80px;
    list-style:none;
    width:300px;
    display:none;
    z-index:999;
}
.canvas-items1 a{
    text-decoration:none;
    color:white;
}
.canvas-items2 a{
    text-decoration:none;
    color:white;
}
.nav-menu button:hover{
    color: var(--vsthemecolor);
    background-color: var(--themecolor);
}
.nav-header:hover{
    background-color: var(--vsthemecolor);
}
.nav-header:hover .nav-image{
    display:none;
}
.nav-header:hover .nav-image-hover{
    display: block;
    height: 80px;
    width:auto;
    margin-top: 7px;
    margin-left: 11px;
    margin-right: 20px;
}
.nav-header:hover .nav-menu-item a{
    color: var(--themecolor);
}

.nav-header:hover .nav-menu-item a:hover{
    border-bottom: 3px solid transparent;
}

.hidden-a:hover{
    border:none;
    border-bottom: 3px solid transparent;
    padding-top: 0px;
}

.nav-header:hover .nav-menu button{
    color: var(--vsthemecolor);
    background-color: var(--themecolor);
}
.nav-header:hover .nav-menu button:hover{
    color: var(--themecolor);
    background-color: var(--vsthemecolor);
    border: 1px solid var(--themecolor);
}
#nav-post:hover .nav-post-box{
    width: 150px;
    height: auto;
    position:unset;
    left: 60%;
    top: 85px;
    font-size: 10px;
    display:block;
    align-items: center;
    justify-content: center;
    background-color: var(--vsthemecolor);
}

.response-login{
    width: 35px;
    display: none;
    transition: all 0.5s;
}

.response-login-button{
    width: 100%;
    height: auto;
    border-style: none;
    background-color: transparent;
    padding: 0;
}
.nav-menu .menu-show{
    display: none;
}

@media screen and (min-width: 500px){
    .nav-header{
        height: 100px;
    }
    .nav-image{
        height: 90px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-header:hover .nav-image-hover{
        display: block;
        height: 90px;
        width:auto;
        margin-top: 3px;
        margin-left: 11px;
        margin-right: 20px;
    }
    .nav-logo{
        font-size: 25px;
        margin-top: 4px;
    }
    .nav-menu{
        display: none;
    }
    .response-login{
        width: 45px;
        display: block;
        filter: invert();
    }
    .nav-header:hover .response-login{
        filter: none;
    }
}

@media screen and (min-width: 770px){
    .nav-header{
        height: 120px;
    }
    .nav-image{
        height: 90px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-header:hover .nav-image-hover{
        display: block;
        height: 90px;
        width:auto;
        margin-top: 5px;
        margin-left: 12px;
        margin-right: 20px;
    }
    .nav-menu{
        display: inline;
    }
    .nav-menu .menu-show{
        display: inline;
    }
    .nav-menu .menu-show-full{
        display: none;
    }

    .log-btn{
        display: none;
    }
    .response-login{
        width: 50px;
        display: block;
        filter: invert();
    }
    .nav-header:hover .response-login{
        filter: none;
    }
}
@media screen and (min-width: 1001px){
    .nav-menu .menu-show-full{
        display: block;
    }
    .response-login{
        width: 50px;
        display: block;
        filter: invert();
    }
    .nav-header:hover .response-login{
        filter: none;
    }
}
@media screen and (max-width: 1270px){
    .nav-menu{
        padding-right:30px;
    }
}

@media screen and (min-width: 1271px){
    .nav-header{
        height: 100px;
    }
    .nav-image{
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .nav-header:hover .nav-image-hover{
        display: block;
        height: 80px;
        width:auto;
        margin-top: 5px;
        margin-left: 12px;
        margin-right: 20px;
    }
    .log-btn{
        padding-top:8px;
        display: flex;
    }
    .nav-menu .menu-show-full{
        display: block;
    }
    .nav-menu{
        display:inline-block;
    }
    .response-login{
        display: none;
    }
    .nav-header:hover .response-login{
        filter: none;
    }
    .nav-menu-item log-btn{
        display: block;
    }
}