
.transfer-header{
    border-collapse: collapse;
    background-color: #B39273;
}

.transfer h1{
    padding-bottom: 10px;
}

.transfer{
    padding: 30px;
}

.transfer-inner{
    border: 7px solid #B39273;
    border-radius: 5px;
    line-height: 30px;
    color: #3B3838;
    background-color: #F7F3EF;
}

.transfer-inner h3{
    margin-left: 5px;
    color:#F7F3EF;
}
.row-in{
    display:flex;
}

.transfer-inner label{
    margin-left: 5px;
    width:15%
}
.transfer-body .row{
    font-size: 15px;
    font-weight: bold;
    color: #3B3838;
    text-align: left;
    padding-bottom: 5px;
}
.transfer-body .row-in input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{
    margin: auto;
    background-color: #cabcac;
    border-bottom: 2px solid #B39273;
    border-top: 2px solid #B39273;
    -webkit-appearance: none;
    margin: 0;
}

/* .transfer-body .row-in label{
    width: 30%;
} */
.amount{
    background-color: #B39273;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 0px #5F4934;
    font-size: 13px;
}
.amount:active{
    box-shadow: 0 0 #5F4934 ; 
    background-color: #B39273;
}



.transfer-btn{
    margin: auto;
    display: block;
    width: 100px;
    background-color: #B39273;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 0px #91765d;
    display :inline-block;
    padding: 10px 15px;
    font-size: 15px;
}

.transfer-btn:active{
    box-shadow: 0 0 #5F4934 ; 
    background-color: #B39273;
    display :inline-block
}

.confirm{
    text-align: center;
}

